*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;

}

li{
	text-decoration: none;
	list-style-type: none;
}

body{
	font-family: 'Raleway', sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #000;
}
header{
	width: 100%;
}
